@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #e0b973;
  --secondary: #14274a;
}
.container {
  width: 100%;
}

/* STYLES FOR FIRST SECTION */

.first-section {
  height: 70vh;
  background-color: var(--secondary);
}

header {
  width: 80%;
  margin: auto;
}

header h2 {
  color: #fff;
  font-size: 50px;
  text-align: center;
  margin-top: 70px;
  font-family: "Montserrat", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo-container {
  height: 100px;
  width: 100px;
}

.logo-container img {
  height: 80px;
  width: 120px;
  cursor: pointer;
}

.nav-links {
  align-self: center;
}

nav ul li {
  display: inline-block;
  margin-left: 40px;
  margin-bottom: 2;
}

nav ul li a {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  list-style: none;
  text-decoration: none;
}

nav ul li a:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.55);
  cursor: pointer;
}

/* STYLES FOR SECOND SECTION  */

.second-section {
  margin-bottom: 200px;
}

.top-text {
  margin-top: 150px;
  width: 80%;
  display: inline-block;
  color: var(--secondary);
}

.top-text h2 {
  font-family: "EB Garamond", serif;
  font-size: 30px;
  margin-left: 140px;
}

.top-text p {
  font-family: "Montserrat", sans-serif;
  margin-left: 145px;
  margin-top: 10px;
}

.second-section .flex-container {
  color: var(--secondary);
  width: 100%;
  margin-top: 120px;
  display: flex;
  justify-content: space-around;
  /* margin-left: 25px; */
}

.flex-container .text-content {
  margin-right: 70px;
}

.flex-container .text-content p {
  font-size: 20px;
}

.flex-container .arrow-div {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

.flex-container .arrow-div img {
  height: 20px;
  width: 30px;
}

.flex-container .arrow-div .arrow-flex {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
}

.flex-container .form-content {
  margin-bottom: 20px;
}

.flex-container .form-content label,
input {
  display: block;
  margin-bottom: 5px;
}

.flex-container .form-content label {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.flex-container .form-content input {
  padding: 5px 100px 5px 2px;
  outline: none;
}

.arrow-flex h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.arrow-div h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 17px;
  margin-bottom: 5px;
}

.form-content textarea {
  outline: none;
  padding: 5px 0 0 5px;
  height: 150px;
  width: 270px;
}

.flex-container .contact-form .botton {
  font-family: "Montserrat", sans-serif;
  padding: 5px 20px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: #fff;
  margin-left: 180px;
  cursor: pointer;
}

/* STYLES FOR THE FOOTER  */
footer {
  width: 100%;
  height: 40vh;
  background-color: var(--secondary);
  position: relative;
}

footer .box {
  width: 100px;
  height: 100px;
  background-color: var(--secondary);
  transform: rotate(45deg);
  position: absolute;
  bottom: 150px;
  left: 46%;
}

.footer-content {
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 70px 70px;
  z-index: 1;
  box-sizing: border-box;
}

.footer-content .company-address h2 {
  font-family: "EB Garamond", serif;
  font-size: 19px;
  line-height: 15px;
}

.footer-content .company-address span {
  font-family: "EB Garamond", serif;
  font-size: 10px;
  font-weight: normal;
  margin-left: 14px;
}

.footer-content .company-address p {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

.footer-content .footer-li li {
  list-style: none;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
}

.footer-content .handle-logo {
  display: flex;
  margin-bottom: 10px;
}

.footer-content .footer-img {
  margin-right: 10px;
  cursor: pointer;
}

.footer-content .handle-logo h3,
.search-bar h2 {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  cursor: pointer;
}

.footer-content .footer-img img {
  margin-left: 30px;
  width: 10px;
}
.footer-content .search-bar-content {
  border: 2px solid var(--primary);
  border-radius: 3px;
  margin-top: 20px;
  display: flex;
}

.footer-content .search-bar-content input {
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  padding: 3px;
}

.footer-content .search-bar-content button {
  background-color: var(--primary);
  padding: 5px;
  color: var(--secondary);
  border: 1px solid var(--primary);
  cursor: pointer;
}

.footer-content .search-bar-content button:hover {
  background-color: var(--secondary);
  color: var(--primary);
}
